<ng-container *ngIf="player.cued()">
    <player-seekbar [hidden]="!user.isLoggedIn() || !user.isSubscribed()"></player-seekbar>

    <div class="controls">
        <button class="no-style maximize" [hidden]="!user.isLoggedIn() || !user.isSubscribed() && !user.isAdmin()" (click)="overlay.maximize()"><svg-icon name="keyboard-arrow-up"></svg-icon></button>
        <div class="track-info">
            <div class="track-name">{{player.getCuedTrack().name}}</div>
            <artists-links-list class="artist-name" [artists]="player.getCuedTrack().artists"></artists-links-list>
        </div>
        <main-playback-buttons></main-playback-buttons>
    </div>
</ng-container>

<custom-menu position="mobile-bottom" class="nav"></custom-menu>