<section class="flex-table-panel spacing">
    <div class="flex-table-panel-header">
        <div class="header-inner default" *ngIf="!selectedItems.length">
            <div class="left">
                <a class="button primary" routerLink="new" *ngIf="currentUser.hasPermission('aggregators.create')" trans>Add</a>
            </div>
            <div class="right">
                <div class="input-container">
                    <input type="text" class="search" placeholder="Search aggregators" trans-placeholder [formControl]="searchQuery">
                    <svg-icon name="search"></svg-icon>
                </div>
            </div>
        </div>
        <div class="header-inner selected" *ngIf="selectedItems.length">
            <div class="left">{{selectedItems.length}} <span trans>Aggregators Selected</span></div>
            <div class="right">
                <button class="no-style" tooltip="Delete" (click)="maybeDeleteSelectedAggregators()" *ngIf="currentUser.hasPermission('aggregators.delete')">
                    <svg-icon name="delete"></svg-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="flex-table flex-table-bordered flex-table-compact flex-table-center-vertical">
        <div class="flex-table-row flex-table-header">
            <div class="flex-table-item width-1">
                <input type="checkbox" class="pretty-checkbox" id="toggle-all-aggregators-checkbox" (click)="toggleAllSelectedItems()">
                <label for="toggle-all-aggregators-checkbox"><span>.</span></label>
            </div>
            <!--<div class="flex-table-item width-2 image" trans>Image</div>-->
            <div class="flex-table-item width-3" trans>Name</div>
            <!--<div class="flex-table-item" trans>Popularity</div>-->
            <div class="flex-table-item" trans>Number of Artists</div>
            <!--<div class="flex-table-item" trans>Number of Tracks</div>-->
            <div class="flex-table-item width-1"></div>
        </div>
        <div class="flex-table-row" *ngFor="let aggregator of items; let index = index;" [class.selected]="isItemSelected(aggregator.id)">
            <div class="flex-table-item width-1" (click)="$event.stopPropagation()">
                <input type="checkbox" class="pretty-checkbox" id="aggregator-checkbox-{{index}}" (change)="toggleSelectedItem(aggregator.id)" [checked]="isItemSelected(aggregator.id)">
                <label for="aggregator-checkbox-{{index}}"><span>.</span></label>
            </div>
            <!--<div class="flex-table-item width-2 image"><img src="{{artist.image_small}}"></div>-->
            <div class="flex-table-item width-3">{{aggregator.name}}</div>
            <!--<div class="flex-table-item">{{artist.spotify_popularity}}</div>-->
            <div class="flex-table-item">{{aggregator['artists_count']}}</div>
            <!--<div class="flex-table-item">{{aggregator['tracks_count']}}</div>-->
            <div class="flex-table-item width-1 center edit-icon" tooltip="Edit Aggregator">
                <a [routerLink]="[aggregator.id, 'edit']" *ngIf="currentUser.hasPermission('aggregators.update')">
                    <svg-icon name="edit"></svg-icon>
                </a>
            </div>
        </div>

        <no-results-message *ngIf="paginator.doesNotHaveResults()">
            <span primary-text trans>Nothing To Display.</span>
            <span secondary-text trans>Seems like no aggregators have been created yet.</span>
        </no-results-message>
    </div>

    <div class="flex-table-panel-footer" [class.hidden]="paginator.params.perPage >= paginator.params.total">
        <pagination-controls [paginator]="paginator" itemsName="Aggregators" [hideLastPageBtn]="true"></pagination-controls>
    </div>
</section>