@import "../../../../scss/variables";

crupdate-subscription-modal.modal {
  > .modal-content {
    width: 760px;
  }

  .content {
    display: flex;

    > .img-container {
      width: 215px;
      height: 215px;
      flex: 0 0 215px;
      position: relative;
      margin-right: 15px;

      &:hover > img {
        filter: brightness(0.8);
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 0.3s;
      }

      > .upload-img-button {
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        transition: transform 0.3s cubic-bezier(0,0,0,2.41);
        border-radius: 50%;

        &:hover {
          transform: scale(1.2);
        }

        > svg-icon {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }

    > .many-inputs {
      flex: 1 1 auto;

      > .description-input {
        margin-bottom: 5px;

        > textarea {
          height: 75px;
        }
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    .content {
      display: block;

      > .img-container {
        margin-bottom: 15px;
      }
    }

    > .modal-content {
      width: 95%;
    }
  }
}