<div class="backdrop"></div>

<form class="modal-content" (ngSubmit)="confirm()" ngNativeValidate>
    <div class="modal-header">
        <h2 class="modal-title">
            <span trans>Subscribe</span>
        </h2>
        <button type="button" (click)="close()" class="close-button no-style icon-button">
            <svg-icon name="close"></svg-icon>
        </button>
    </div>
    
    <div class="content">

        <div class="many-inputs">

            <!--<input type="radio" id="radio1" name="radios" value="all" checked>-->
            <!--<label for="radio1">iPhone</label>-->
            <!--<input type="radio" id="radio2" name="radios"value="false">-->
            <!--<label for="radio2">Galaxy S IV</label>-->
            <!--<input type="radio" id="radio3" name="radios" value="true">-->
            <!--<label for="radio3">Nexus S</label>-->

            <input class="radio_item" type="radio" id="day" value="day" name="plan_code" [(ngModel)]="user.current.subscription_plan" required>
            <label for="day" class="label_item item-inline">
                <img src="/assets/images/day.png" class="select_image">
            </label>

            <input class="radio_item" type="radio" id="week" name="plan_code" value="week" [(ngModel)]="user.current.subscription_plan" required>
            <label for="week" class="label_item item-inline">
                <img src="/assets/images/week.png" class="select_image">
            </label>

            <input class="radio_item" type="radio" id="month" name="plan_code" value="month" [(ngModel)]="user.current.subscription_plan" required>
            <label for="month" class="label_item item-inline">
                <img src="/assets/images/month.png" class="select_image">
            </label>

        </div>
    </div>

    <div class="buttons right">
        <button (click)="close()" type="button" class="button cancel cancel-button" trans>Close</button>
        <button type="submit" class="button primary submit-button">
            <span trans>Subscribe</span>
        </button>
    </div>

    <loading-indicator [isVisible]="loading" class="overlay opacity-high"></loading-indicator>
</form>