aggregator-artists-table {
  .flex-table-panel > .flex-table-panel-header > .header-inner {
    padding-left: 0;
    padding-right: 0;
  }

  .flex-table.flex-table-compact .flex-table-row {
    padding-left: 0;
    padding-right: 0;
  }
}