<section class="flex-table-panel spacing">
    <div class="flex-table-panel-header">
        <div class="header-inner default" *ngIf="!selectedArtists.length">
            <div class="left">
                <button type="button" class="button primary" (click)="openNewAlbumModal()" trans>New Artist</button>
            </div>
            <div class="right">
                <div class="input-container">
                    <input type="text" class="search" placeholder="Search artists" trans-placeholder [formControl]="searchQuery">
                    <svg-icon name="search"></svg-icon>
                </div>
            </div>
        </div>
        <div class="header-inner selected" *ngIf="selectedArtists.length">
            <div class="left">{{selectedArtists.length}} <span trans>Artists Selected</span></div>
            <div class="right">
                <button type="button" class="no-style" tooltip="Delete" (click)="maybeDeleteselectedArtists()">
                    <svg-icon name="delete"></svg-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="flex-table flex-table-bordered flex-table-compact flex-table-center-vertical album-tracks">
        <div class="flex-table-row flex-table-header">
            <div class="flex-table-item width-1">
                <input type="checkbox" class="pretty-checkbox" id="toggle-all-tracks-checkbox"
                       (click)="toggleAllselectedArtists()">
                <label for="toggle-all-tracks-checkbox"><span>.</span></label>
            </div>
            <div class="flex-table-item width-2 image" trans></div>
            <div class="flex-table-item width-3" trans>Name</div>
            <!--<div class="flex-table-item" trans>Release Date</div>-->
            <!--<div class="flex-table-item" trans>Popularity</div>-->
            <!--<div class="flex-table-item" trans>Number of Tracks</div>-->
            <div class="flex-table-item width-1"></div>
        </div>
        <div class="flex-table-row" *ngFor="let artist of filteredArtists; let index = index;"
             [class.selected]="isAlbumSelected(getIdentifier(artist))">
            <div class="flex-table-item width-1" (click)="$event.stopPropagation()">
                <input type="checkbox" class="pretty-checkbox" id="track-checkbox-{{index}}"
                       (change)="toggleSelectedAlbum(getIdentifier(artist))" [checked]="isAlbumSelected(getIdentifier(artist))">
                <label for="track-checkbox-{{index}}"><span>.</span></label>
            </div>
            <div class="flex-table-item width-2 image" trans>
                <img [src]="getAlbumImage(artist)">
            </div>
            <div class="flex-table-item width-3">{{artist.name}}</div>
            <!--<div class="flex-table-item">{{artist.release_date}}</div>-->
            <!--<div class="flex-table-item">{{artist.spotify_popularity}}</div>-->
            <!--<div class="flex-table-item">{{artist.tracks.length}}</div>-->
            <div class="flex-table-item width-1 center edit-icon" tooltip="Edit artist">
                <button type="button" class="no-style">
                    <svg-icon name="edit"></svg-icon>
                </button>
            </div>
        </div>

        <no-results-message *ngIf="!aggregator.artists.length">
            <span primary-text trans>Nothing To Display.</span>
            <span secondary-text trans>No artists have been attached to this aggregator yet.</span>
        </no-results-message>
    </div>
</section>