<div class="panel">
    <form class="edit-main-info" (ngSubmit)="createOrUpdate()" ngNativeValidate>
        <div class="left-col">
            <!--<img [src]="getArtistImage()">-->
            <button type="submit" class="button primary main-button" *ngIf="aggregator.id" trans>Update</button>
            <button type="submit" class="button primary main-button" *ngIf="!aggregator.id" trans>Create</button>
        </div>
        <div class="right-col many-inputs admin-artist-edit-inputs">
            <div class="input-container" *ngIf="!aggregator.id">
                <label for="aggregator-username" trans>Username</label>
                <input type="text" [(ngModel)]="aggregator.username" id="aggregator-username" name="username" required>
                <div class="error" *ngIf="errors.username">{{errors.username}}</div>
            </div>
            <div class="input-container">
                <label for="aggregator-name" trans>Name</label>
                <input type="text" [(ngModel)]="aggregator.name" id="aggregator-name" name="name" required>
                <div class="error" *ngIf="errors.name">{{errors.name}}</div>
            </div>
            <div class="input-container">
                <label for="aggregator-cac_number" trans>CAC Number</label>
                <input type="text" [(ngModel)]="aggregator.cac_number" id="aggregator-cac_number" name="cac_number" required>
                <div class="error" *ngIf="errors.cac_number">{{errors.cac_number}}</div>
            </div>
            <div class="input-container">
                <label for="biography" trans>Biography</label>
                <textarea name="biography" id="biography" [(ngModel)]="aggregator.bio" required></textarea>
            </div>
            <div class="input-container">
                <label for="aggregator-address" trans>Address</label>
                <textarea name="aggregator-address" id="aggregator-address" [(ngModel)]="aggregator.address" required></textarea>
            </div>
        </div>
    </form>

    <aggregator-artists-table *ngIf="aggregator.id && user.isAggregator()" [aggregator]="aggregator"></aggregator-artists-table>

    <loading-indicator [isVisible]="loading" class="overlay opacity-high"></loading-indicator>
</div>
